## **Index Tracking and Forward Testing**

In [3]:
import pandas as pd

In [4]:
components = pd.read_csv('Component_prices.csv', parse_dates = ["Date"], index_col = "Date")
ibov = pd.read_csv('BVSP.csv', parse_dates = ["Date"], index_col = "Date")

In [5]:
components.head()

,ABEV3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BEEF3.SA,BPAC11.SA,BRAP4.SA,...,SANB11.SA,SBSP3.SA,SUZB3.SA,TAEE11.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,6.113138,NaN,12.95,29.900000,9.076981,13.379374,NaN,5.722775,NaN,34.705620,...,23.750000,11.316666,16.007999,12.490000,7.951558,7.3125,25.500000,51.490002,2.711538,8.070000
2010-01-05,6.149098,NaN,13.00,29.600000,8.948147,13.308395,NaN,5.948933,NaN,35.405045,...,23.980000,11.333333,16.007999,12.493333,7.818478,7.3125,25.575001,51.970001,2.705621,8.166666
2010-01-06,6.211828,NaN,13.49,29.639999,8.895441,13.201928,NaN,6.243922,NaN,35.900841,...,23.860001,11.330000,16.007999,12.493333,7.865056,7.3125,25.549999,53.070000,2.720414,8.300000
2010-01-07,6.240995,NaN,13.81,29.650000,8.874945,13.166439,NaN,6.381583,NaN,36.299248,...,23.690001,11.150000,16.007999,12.493333,7.871710,7.3125,25.790001,53.290001,2.766272,8.166666
2010-01-08,6.229008,NaN,13.49,29.820000,8.886657,13.152244,NaN,6.784734,NaN,36.830456,...,23.450001,11.336666,16.007999,12.466666,7.948231,7.3125,25.424999,53.810001,2.866863,8.166666

In [6]:
components.tail()

,ABEV3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BEEF3.SA,BPAC11.SA,BRAP4.SA,...,SANB11.SA,SBSP3.SA,SUZB3.SA,TAEE11.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-20,13.53,11.25,12.77,40.070000,12.86,14.67,35.040001,15.51,21.389999,32.029999,...,29.180000,53.599998,47.139999,35.220001,29.100000,12.62,8.29,93.989998,37.330002,9.42
2023-01-23,13.42,11.38,12.65,39.770000,12.45,14.05,35.320000,14.96,20.930000,31.620001,...,28.110001,52.389999,46.980000,35.540001,29.639999,12.44,8.34,94.300003,37.369999,9.38
2023-01-24,13.61,11.74,12.84,39.570000,12.59,14.17,35.700001,14.73,21.209999,31.980000,...,28.650000,53.830002,47.509998,35.720001,30.219999,12.97,8.27,95.300003,37.209999,9.55
2023-01-25,13.71,11.99,13.11,40.650002,12.61,14.10,37.180000,14.87,21.760000,32.230000,...,28.889999,54.540001,46.770000,35.830002,29.990000,13.16,8.28,96.199997,38.720001,9.62
2023-01-26,13.72,12.05,13.13,40.709999,12.58,14.14,37.090000,14.66,21.660000,32.650002,...,29.030001,54.090000,45.730000,36.270000,29.520000,13.12,8.61,97.480003,38.090000,9.60

In [7]:
# Some stocks have high numbers of missing values

components.isna().sum().nlargest(20)

NTCO3.SA     2473
HAPV3.SA     2065
IRBR3.SA     1876
CRFB3.SA     1869
AZUL4.SA     1800
BPAC11.SA    1770
RAIL3.SA     1299
KLBN11.SA    1004
CVCB3.SA      975
BBSE3.SA      820
COGN3.SA      544
QUAL3.SA      368
MGLU3.SA      327
ECOR3.SA       60
B3SA3.SA        2
ABEV3.SA        0
BBAS3.SA        0
BBDC3.SA        0
BBDC4.SA        0
BEEF3.SA        0
dtype: int64

In [8]:
# Dropping the stocks columns with missing values above 15%

missing_values = components.isna().sum() / len(components)
cols_to_drop = missing_values[missing_values > 0.15].index
components = components.drop(cols_to_drop, axis=1)

In [9]:
components.isna().sum().nlargest(20)

QUAL3.SA    368
MGLU3.SA    327
ECOR3.SA     60
B3SA3.SA      2
ABEV3.SA      0
BBAS3.SA      0
BBDC3.SA      0
BBDC4.SA      0
BEEF3.SA      0
BRAP4.SA      0
BRFS3.SA      0
BRKM5.SA      0
BRSR6.SA      0
CCRO3.SA      0
CIEL3.SA      0
CMIG4.SA      0
CPFE3.SA      0
CSAN3.SA      0
CSNA3.SA      0
CYRE3.SA      0
dtype: int64

In [10]:
ibov.head()

               Open     High      Low    Close  Adj Close   Volume
Date
2010-01-04  68587.0  70081.0  68587.0  70045.0    70045.0  1655400
2010-01-05  70046.0  70595.0  69928.0  70240.0    70240.0  1984200
2010-01-06  70237.0  70937.0  70016.0  70729.0    70729.0  2243600
2010-01-07  70723.0  70723.0  70045.0  70451.0    70451.0  1555000
2010-01-08  70455.0  70766.0  70158.0  70263.0    70263.0  1634400

In [11]:
ibov.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3235 entries, 2010-01-04 to 2023-01-26
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3235 non-null   float64
 1   High       3235 non-null   float64
 2   Low        3235 non-null   float64
 3   Close      3235 non-null   float64
 4   Adj Close  3235 non-null   float64
 5   Volume     3235 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 176.9 KB

In [12]:
# We are only interested in the 'close' prices

ibov = ibov.loc[:, 'Close']
ibov

Date
2010-01-04     70045.0
2010-01-05     70240.0
2010-01-06     70729.0
2010-01-07     70451.0
2010-01-08     70263.0
                ...
2023-01-20    112301.0
2023-01-23    111709.0
2023-01-24    113028.0
2023-01-25    114195.0
2023-01-26    114109.0
Name: Close, Length: 3235, dtype: float64

In [13]:
df = pd.concat([components, ibov], axis=1)
df

,ABEV3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BEEF3.SA,BRAP4.SA,BRFS3.SA,BRKM5.SA,BRSR6.SA,...,SBSP3.SA,SUZB3.SA,TAEE11.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,WEGE3.SA,YDUQ3.SA,Close
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,6.113138,12.95,29.900000,9.076981,13.379374,5.722775,34.705620,22.895000,14.250000,14.60,...,11.316666,16.007999,12.490000,7.951558,7.3125,25.500000,51.490002,2.711538,8.070000,70045.0
2010-01-05,6.149098,13.00,29.600000,8.948147,13.308395,5.948933,35.405045,23.135000,14.120000,14.30,...,11.333333,16.007999,12.493333,7.818478,7.3125,25.575001,51.970001,2.705621,8.166666,70240.0
2010-01-06,6.211828,13.49,29.639999,8.895441,13.201928,6.243922,35.900841,23.450001,14.460000,14.35,...,11.330000,16.007999,12.493333,7.865056,7.3125,25.549999,53.070000,2.720414,8.300000,70729.0
2010-01-07,6.240995,13.81,29.650000,8.874945,13.166439,6.381583,36.299248,23.305000,14.100000,14.10,...,11.150000,16.007999,12.493333,7.871710,7.3125,25.790001,53.290001,2.766272,8.166666,70451.0
2010-01-08,6.229008,13.49,29.820000,8.886657,13.152244,6.784734,36.830456,23.400000,13.900000,14.00,...,11.336666,16.007999,12.466666,7.948231,7.3125,25.424999,53.810001,2.866863,8.166666,70263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-20,13.530000,12.77,40.070000,12.860000,14.670000,15.510000,32.029999,7.900000,21.459999,9.65,...,53.599998,47.139999,35.220001,29.100000,12.6200,8.290000,93.989998,37.330002,9.420000,112301.0
2023-01-23,13.420000,12.65,39.770000,12.450000,14.050000,14.960000,31.620001,7.790000,21.660000,9.40,...,52.389999,46.980000,35.540001,29.639999,12.4400,8.340000,94.300003,37.369999,9.380000,111709.0
2023-01-24,13.610000,12.84,39.570000,12.590000,14.170000,14.730000,31.980000,8.020000,22.980000,9.52,...,53.830002,47.509998,35.720001,30.219999,12.9700,8.270000,95.300003,37.209999,9.550000,113028.0
2023-01-25,13.710000,13.11,40.650002,12.610000,14.100000,14.870000,32.230000,8.140000,22.650000,9.58,...,54.540001,46.770000,35.830002,29.990000,13.1600,8.280000,96.199997,38.720001,9.620000,114195.0
2023-01-26,13.720000,13.13,40.709999,12.580000,14.140000,14.660000,32.650002,8.130000,22.730000,9.79,...,54.090000,45.730000,36.270000,29.520000,13.1200,8.610000,97.480003,38.090000,9.600000,114109.0