## **Evaluating BR Stocks and Analyzing Different Investing Strategies**

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
html = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_companhias_citadas_no_Ibovespa#cite_note-2')
html

[   Código             Ação                                              Setor  \
 0   ABEV3        AMBEV S/A  Consumo não Cíclico / Bebidas / Cervejas e Ref...
 1   AZUL4             AZUL   Bens Industriais / Transporte / Transporte Aéreo
 2   B3SA3               B3  Financeiro e Outros / Serviços Financeiros Div...
 3   BBAS3  BANCO DO BRASIL  Financeiro e Outros / Intermediários Financeir...
 4   BBDC3         BRADESCO  Financeiro e Outros / Intermediários Financeir...
 ..    ...              ...                                                ...
 71  VALE3             VALE  Materiais Básicos / Mineração / Minerais Metál...
 72  VIVT4     TELEF BRASIL                                   Telecomunicações
 73  VVAR3        VIAVAREJO                         Consumo Cíclico / Comércio
 74  WEGE3              WEG         Bens Industriais / Máquinas e Equipamentos
 75  YDUQ3       YDUQS PART            Consumo Cíclico / Serviços Educacionais

          Tipo                           Site
 0          ON         http://ri.ambev.com.br
 1       PN N2    https://www.voeazul.com.br/
 2       ON NM          http://www.b3.com.br/
 3   ON ERJ NM          http://www.bb.com.br/
 4       ON N1    http://www.bradesco.com.br/
 ..        ...                            ...
 71      ON NM           http://www.vale.com/
 72         PN  http://www.telefonica.com.br/
 73      ON NM  https://www.viavarejo.com.br/
 74      ON NM           https://www.weg.net/
 75      ON NM      https://www.yduqs.com.br/

 [76 rows x 5 columns],
     0                                                  1
 0 NaN  Este artigo sobre economia é um esboço. Você p...,
                     vde Empresas no Ibovespa  \
 0                                   Finanças
 1                             Petróleo e Gás
 2                       Energia e Saneamento
 3     Aviação, Locação, Transporte e Turismo
 4             Produção, Alimento e Logística
 5  Administração, Comércio, Varejo e Serviço
 6         Construção, Indústria e Siderurgia
 7     Concessão, Saúde e Bem-Estar e Seguros
 8             Telefonia, Tecnologia e Outros
 9                                   Holdings

                           vde Empresas no Ibovespa.1
 0  B3 · Banco do Brasil (BB Seguridade) · Bradesc...
 1  3R Petroleum · Braskem · Petrobras · Petrobras...
 2  CEMIG · Cosan · Companhia Paranaense de Energi...
 3  Azul · CVC CORP · Embraer · Gol · Simpar (JSL ...
 4  Ambev · BRF · JBS · Marfrig · Minerva Foods · ...
 5  Aliansce Sonae · Alpargatas · Americanas · Ass...
 6  CSN · Cyrela · Even · Gerdau (Metalúrgica Gerd...
 7  CCR · EcoRodovias · Fleury · Hapvida · IRB Bra...
 8  Cogna Educação · Klabin · LocaWeb · Positivo ·...
 9                        EDP Brasil · Itaúsa · YDUQS  ]

In [3]:
# Looking for the table with the data

html[0]

,Código,Ação,Setor,Tipo,Site
0,ABEV3,AMBEV S/A,Consumo não Cíclico / Bebidas / Cervejas e Ref...,ON,http://ri.ambev.com.br
1,AZUL4,AZUL,Bens Industriais / Transporte / Transporte Aéreo,PN N2,https://www.voeazul.com.br/
2,B3SA3,B3,Financeiro e Outros / Serviços Financeiros Div...,ON NM,http://www.b3.com.br/
3,BBAS3,BANCO DO BRASIL,Financeiro e Outros / Intermediários Financeir...,ON ERJ NM,http://www.bb.com.br/
4,BBDC3,BRADESCO,Financeiro e Outros / Intermediários Financeir...,ON N1,http://www.bradesco.com.br/
...,...,...,...,...,...
71,VALE3,VALE,Materiais Básicos / Mineração / Minerais Metál...,ON NM,http://www.vale.com/
72,VIVT4,TELEF BRASIL,Telecomunicações,PN,http://www.telefonica.com.br/
73,VVAR3,VIAVAREJO,Consumo Cíclico / Comércio,ON NM,https://www.viavarejo.com.br/
74,WEGE3,WEG,Bens Industriais / Máquinas e Equipamentos,ON NM,https://www.weg.net/
75,YDUQ3,YDUQS PART,Consumo Cíclico / Serviços Educacionais,ON NM,https://www.yduqs.com.br/

In [4]:
components = html[0].iloc[:,0:3].copy()
components

   Código             Ação                                              Setor
0   ABEV3        AMBEV S/A  Consumo não Cíclico / Bebidas / Cervejas e Ref...
1   AZUL4             AZUL   Bens Industriais / Transporte / Transporte Aéreo
2   B3SA3               B3  Financeiro e Outros / Serviços Financeiros Div...
3   BBAS3  BANCO DO BRASIL  Financeiro e Outros / Intermediários Financeir...
4   BBDC3         BRADESCO  Financeiro e Outros / Intermediários Financeir...
..    ...              ...                                                ...
71  VALE3             VALE  Materiais Básicos / Mineração / Minerais Metál...
72  VIVT4     TELEF BRASIL                                   Telecomunicações
73  VVAR3        VIAVAREJO                         Consumo Cíclico / Comércio
74  WEGE3              WEG         Bens Industriais / Máquinas e Equipamentos
75  YDUQ3       YDUQS PART            Consumo Cíclico / Serviços Educacionais

[76 rows x 3 columns]

In [5]:
components.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Código  76 non-null     object
 1   Ação    76 non-null     object
 2   Setor   76 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

In [6]:
components.to_csv('Components.csv', index=False)

## **Loading BR Stocks**

In [7]:
yf.download('^BVSP')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-04-27,24.799999,25.400000,24.500000,24.500000,24.500000,0
1993-04-28,24.500000,24.600000,23.700001,24.299999,24.299999,0
1993-04-29,24.299999,24.799999,23.700001,23.700001,23.700001,0
1993-04-30,23.700001,24.200001,23.700001,24.100000,24.100000,0
1993-05-03,24.100000,24.400000,23.799999,24.100000,24.100000,0
...,...,...,...,...,...,...
2023-01-18,111442.000000,113306.000000,111441.000000,112452.000000,112452.000000,14128600
2023-01-19,112219.000000,113172.000000,111307.000000,113006.000000,113006.000000,15594300
2023-01-20,112922.000000,113025.000000,111735.000000,112301.000000,112301.000000,15436600
2023-01-23,112041.000000,113061.000000,111542.000000,111709.000000,111709.000000,13701000
2023-01-24,0.000000,0.000000,0.000000,113028.148438,113028.148438,0

In [8]:
# IBOVESPA index

data = yf.download('^BVSP', start='2010-01-01', end='2023-01-23')
data

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close    Volume
Date
2010-01-04   68587.0   70081.0   68587.0   70045.0    70045.0   1655400
2010-01-05   70046.0   70595.0   69928.0   70240.0    70240.0   1984200
2010-01-06   70237.0   70937.0   70016.0   70729.0    70729.0   2243600
2010-01-07   70723.0   70723.0   70045.0   70451.0    70451.0   1555000
2010-01-08   70455.0   70766.0   70158.0   70263.0    70263.0   1634400
...              ...       ...       ...       ...        ...       ...
2023-01-16  110908.0  110908.0  108753.0  109213.0   109213.0  12512400
2023-01-17  109214.0  111577.0  109214.0  111439.0   111439.0  14363200
2023-01-18  111442.0  113306.0  111441.0  112452.0   112452.0  14128600
2023-01-19  112219.0  113172.0  111307.0  113006.0   113006.0  15594300
2023-01-20  112922.0  113025.0  111735.0  112301.0   112301.0  15436600

[3231 rows x 6 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3231 entries, 2010-01-04 to 2023-01-20
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3231 non-null   float64
 1   High       3231 non-null   float64
 2   Low        3231 non-null   float64
 3   Close      3231 non-null   float64
 4   Adj Close  3231 non-null   float64
 5   Volume     3231 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 176.7 KB

In [10]:
data.to_csv('BVSP.csv')

In [11]:
tickers = components.Código.str.strip().to_list()

In [12]:
# We need to add '.SA' to retrieve the data from yfinance

string = '.SA'
tickers = [x + string for x in tickers]

In [13]:
tickers

['ABEV3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BBAS3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BBSE3.SA',
 'BEEF3.SA',
 'BPAC11.SA',
 'BRAP4.SA',
 'BRDT3.SA',
 'BRFS3.SA',
 'BRKM5.SA',
 'BRML3.SA',
 'BRSR6.SA',
 'BTOW3.SA',
 'CCRO3.SA',
 'CIEL3.SA',
 'CMIG4.SA',
 'COGN3.SA',
 'CPFE3.SA',
 'CRFB3.SA',
 'CSAN3.SA',
 'CSNA3.SA',
 'CVCB3.SA',
 'CYRE3.SA',
 'ECOR3.SA',
 'EGIE3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'EMBR3.SA',
 'ENBR3.SA',
 'ENGI11.SA',
 'EQTL3.SA',
 'FLRY3.SA',
 'GGBR4.SA',
 'GNDI3.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'HAPV3.SA',
 'HGTX3.SA',
 'HYPE3.SA',
 'IGTA3.SA',
 'IRBR3.SA',
 'ITSA4.SA',
 'ITUB4.SA',
 'JBSS3.SA',
 'KLBN11.SA',
 'LAME4.SA',
 'LREN3.SA',
 'MGLU3.SA',
 'MRFG3.SA',
 'MRVE3.SA',
 'MULT3.SA',
 'NTCO3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RAIL3.SA',
 'RENT3.SA',
 'SANB11.SA',
 'SBSP3.SA',
 'SULA11.SA',
 'SUZB3.SA',
 'TAEE11.SA',
 'TIMP3.SA',
 'TOTS3.SA',
 'UGPA3.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VIVT4.SA',
 'VVAR3.SA',
 'WEGE3.SA',
 'YDUQ3.SA']

In [14]:
len(tickers)

76

In [15]:
# 'LAME4.SA' ('Americanas') was removed from Ibovespa, source: 
# https://www.infomoney.com.br/onde-investir/americanas-amer3-e-excluida-de-14-indices-da-b3-apos-pedido-de-recuperacao-judicial/

tickers.remove('LAME4.SA')

In [16]:
len(tickers)

75

In [17]:
prices = yf.download(tickers, start='2010-01-01', end='2020-01-20')
prices

[*********************100%***********************]  75 of 75 completed

8 Failed downloads:
- BRDT3.SA: No timezone found, symbol may be delisted
- VIVT4.SA: No timezone found, symbol may be delisted
- HGTX3.SA: No timezone found, symbol may be delisted
- TIMP3.SA: No timezone found, symbol may be delisted
- IGTA3.SA: No timezone found, symbol may be delisted
- GNDI3.SA: No timezone found, symbol may be delisted
- BTOW3.SA: No timezone found, symbol may be delisted
- VVAR3.SA: No timezone found, symbol may be delisted

            Adj Close                                                         \
             ABEV3.SA   AZUL4.SA   B3SA3.SA   BBAS3.SA   BBDC3.SA   BBDC4.SA
Date
2010-01-04   3.828887        NaN   7.950245  13.014687   5.357150   7.696276
2010-01-05   3.851411        NaN   7.980940  12.884102   5.283363   7.658402
2010-01-06   3.890701        NaN   8.281762  12.901516   5.252245   7.597135
2010-01-07   3.908969        NaN   8.478217  12.905868   5.240139   7.576714
2010-01-08   3.901462        NaN   8.281762  12.979865   5.247059   7.568548
...               ...        ...        ...        ...        ...        ...
2020-01-13  17.029486  58.299999  13.000441  42.020927  21.562450  22.842810
2020-01-14  16.931971  59.189999  13.088381  41.795918  21.608112  22.816557
2020-01-15  16.630564  59.299999  12.736618  41.029167  21.112267  22.416153
2020-01-16  16.577375  59.439999  12.883187  41.212517  21.458059  22.737782
2020-01-17  16.577375  61.349998  13.290640  41.770905  21.908226  23.269472

                                                        ...    Volume  \
             BBSE3.SA   BEEF3.SA  BPAC11.SA   BRAP4.SA  ... TAEE11.SA
Date                                                    ...
2010-01-04        NaN   4.495722        NaN  14.260869  ...    133500
2010-01-05        NaN   4.673388        NaN  14.548273  ...    343800
2010-01-06        NaN   4.905127        NaN  14.751999  ...    489900
2010-01-07        NaN   5.013272        NaN  14.915708  ...    130500
2010-01-08        NaN   5.329980        NaN  15.133989  ...   1853400
...               ...        ...        ...        ...  ...       ...
2020-01-13  29.632650  12.020311  18.070547  22.305595  ...    823100
2020-01-14  29.985323  11.929498  17.726570  22.518032  ...   1470700
2020-01-15  30.018122  12.090190  17.575788  22.573938  ...   1052300
2020-01-16  29.583437  12.585550  17.351969  22.495672  ...   1930800
2020-01-17  29.640850  12.468008  18.054058  23.462809  ...    755800

                                                                             \
           TIMP3.SA TOTS3.SA UGPA3.SA  USIM5.SA  VALE3.SA VIVT4.SA VVAR3.SA
Date
2010-01-04      NaN  2221212        0   3895000   2381400      NaN      NaN
2010-01-05      NaN  1041475        0   4049000   3001800      NaN      NaN
2010-01-06      NaN   401260        0   3879600   2742800      NaN      NaN
2010-01-07      NaN  1926653        0   4672400   2543100      NaN      NaN
2010-01-08      NaN  5166798        0   3605200   2444500      NaN      NaN
...             ...      ...      ...       ...       ...      ...      ...
2020-01-13      NaN  4947300  6026800  17012400  27497400      NaN      NaN
2020-01-14      NaN  6537300  7616300  11799500  27817000      NaN      NaN
2020-01-15      NaN  4133400  5477700  17440300  21425300      NaN      NaN
2020-01-16      NaN  4513500  4927900  28297400  13149100      NaN      NaN
2020-01-17      NaN  6131100  3997300  18477800  36524100      NaN      NaN


            WEGE3.SA YDUQ3.SA
Date
2010-01-04   3776812   118200
2010-01-05   1429064    45300
2010-01-06   4106024    48900
2010-01-07    939640    38400
2010-01-08   2199028    33000
...              ...      ...
2020-01-13   8200200  3140300
2020-01-14  10054000  2586400
2020-01-15   6277600  2189500
2020-01-16   9387200  3123600
2020-01-17  11728200  2676400

[2492 rows x 450 columns]

In [21]:
prices = prices.loc[:, 'Close'].copy()
prices

,ABEV3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BEEF3.SA,BPAC11.SA,BRAP4.SA,...,TAEE11.SA,TIMP3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VIVT4.SA,VVAR3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,6.113138,NaN,12.950000,29.900000,9.076981,13.379374,NaN,5.722775,NaN,34.705620,...,12.490000,NaN,7.951558,7.312500,25.500000,51.490002,NaN,NaN,2.711538,8.070000
2010-01-05,6.149098,NaN,13.000000,29.600000,8.948147,13.308395,NaN,5.948933,NaN,35.405045,...,12.493333,NaN,7.818478,7.312500,25.575001,51.970001,NaN,NaN,2.705621,8.166666
2010-01-06,6.211828,NaN,13.490000,29.639999,8.895441,13.201928,NaN,6.243922,NaN,35.900841,...,12.493333,NaN,7.865056,7.312500,25.549999,53.070000,NaN,NaN,2.720414,8.300000
2010-01-07,6.240995,NaN,13.810000,29.650000,8.874945,13.166439,NaN,6.381583,NaN,36.299248,...,12.493333,NaN,7.871710,7.312500,25.790001,53.290001,NaN,NaN,2.766272,8.166666
2010-01-08,6.229008,NaN,13.490000,29.820000,8.886657,13.152244,NaN,6.784734,NaN,36.830456,...,12.466666,NaN,7.948231,7.312500,25.424999,53.810001,NaN,NaN,2.866863,8.166666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-13,19.209999,58.299999,14.783333,50.419998,24.830954,26.145756,36.130001,14.316772,19.174999,35.325363,...,30.600000,NaN,23.216665,25.320000,9.540000,55.299999,NaN,NaN,17.160000,47.700001
2020-01-14,19.100000,59.189999,14.883333,50.150002,24.883547,26.115702,36.560001,14.208609,18.809999,35.661797,...,30.540001,NaN,23.216665,25.600000,9.580000,55.639999,NaN,NaN,17.500000,48.700001
2020-01-15,18.760000,59.299999,14.483333,49.230000,24.312546,25.657400,36.599998,14.400000,18.650000,35.750332,...,30.760000,NaN,23.273333,25.370001,9.390000,55.459999,NaN,NaN,17.615000,48.270000
2020-01-16,18.700001,59.439999,14.650000,49.450001,24.710743,26.025543,36.070000,14.990000,18.412500,35.626385,...,30.690001,NaN,23.276667,25.420000,9.670000,55.169998,NaN,NaN,17.934999,48.500000
2020-01-17,18.700001,61.349998,15.113333,50.119999,25.229151,26.634109,36.139999,14.850000,19.157499,37.158035,...,31.320000,NaN,24.120001,26.270000,9.760000,57.000000,NaN,NaN,18.400000,50.000000

In [24]:
prices = prices.drop(columns=[('BRDT3.SA'), ('VIVT4.SA'), ('HGTX3.SA'), ('TIMP3.SA'), ('IGTA3.SA'), ('GNDI3.SA'), ('BTOW3.SA'), ('VVAR3.SA')], axis=1)
prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2492 entries, 2010-01-04 00:00:00 to 2020-01-17 00:00:00
Data columns (total 67 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ABEV3.SA   2492 non-null   float64
 1   AZUL4.SA   692 non-null    float64
 2   B3SA3.SA   2490 non-null   float64
 3   BBAS3.SA   2492 non-null   float64
 4   BBDC3.SA   2492 non-null   float64
 5   BBDC4.SA   2492 non-null   float64
 6   BBSE3.SA   1672 non-null   float64
 7   BEEF3.SA   2492 non-null   float64
 8   BPAC11.SA  722 non-null    float64
 9   BRAP4.SA   2492 non-null   float64
 10  BRFS3.SA   2492 non-null   float64
 11  BRKM5.SA   2492 non-null   float64
 12  BRML3.SA   2492 non-null   float64
 13  BRSR6.SA   2492 non-null   float64
 14  CCRO3.SA   2492 non-null   float64
 15  CIEL3.SA   2492 non-null   float64
 16  CMIG4.SA   2492 non-null   float64
 17  COGN3.SA   1948 non-null   float64
 18  CPFE3.SA   2492 non-null   float64
 19  CRFB3.SA   623 non-null    float64
 20  CSAN3.SA   2492 non-null   float64
 21  CSNA3.SA   2492 non-null   float64
 22  CVCB3.SA   1517 non-null   float64
 23  CYRE3.SA   2492 non-null   float64
 24  ECOR3.SA   2432 non-null   float64
 25  EGIE3.SA   2492 non-null   float64
 26  ELET3.SA   2492 non-null   float64
 27  ELET6.SA   2492 non-null   float64
 28  EMBR3.SA   2492 non-null   float64
 29  ENBR3.SA   2492 non-null   float64
 30  ENGI11.SA  2492 non-null   float64
 31  EQTL3.SA   2492 non-null   float64
 32  FLRY3.SA   2492 non-null   float64
 33  GGBR4.SA   2492 non-null   float64
 34  GOAU4.SA   2492 non-null   float64
 35  GOLL4.SA   2492 non-null   float64
 36  HAPV3.SA   427 non-null    float64
 37  HYPE3.SA   2492 non-null   float64
 38  IRBR3.SA   616 non-null    float64
 39  ITSA4.SA   2492 non-null   float64
 40  ITUB4.SA   2492 non-null   float64
 41  JBSS3.SA   2492 non-null   float64
 42  KLBN11.SA  1488 non-null   float64
 43  LREN3.SA   2492 non-null   float64
 44  MGLU3.SA   2165 non-null   float64
 45  MRFG3.SA   2492 non-null   float64
 46  MRVE3.SA   2492 non-null   float64
 47  MULT3.SA   2492 non-null   float64
 48  NTCO3.SA   19 non-null     float64
 49  PCAR3.SA   2492 non-null   float64
 50  PETR3.SA   2492 non-null   float64
 51  PETR4.SA   2492 non-null   float64
 52  QUAL3.SA   2124 non-null   float64
 53  RADL3.SA   2492 non-null   float64
 54  RAIL3.SA   1193 non-null   float64
 55  RENT3.SA   2492 non-null   float64
 56  SANB11.SA  2492 non-null   float64
 57  SBSP3.SA   2492 non-null   float64
 58  SULA11.SA  2492 non-null   float64
 59  SUZB3.SA   2492 non-null   float64
 60  TAEE11.SA  2492 non-null   float64
 61  TOTS3.SA   2492 non-null   float64
 62  UGPA3.SA   2492 non-null   float64
 63  USIM5.SA   2492 non-null   float64
 64  VALE3.SA   2492 non-null   float64
 65  WEGE3.SA   2492 non-null   float64
 66  YDUQ3.SA   2492 non-null   float64
dtypes: float64(67)
memory usage: 1.4+ MB

In [25]:
prices.to_csv('Component_prices.csv')