# **Investment Strategies**

### **Data Viz**

In [27]:
import pandas as pd

In [29]:
ibov = pd.read_csv('BVSP.csv', parse_dates=['Date'], index_col='Date')
ibov

                Open      High       Low     Close  Adj Close    Volume
Date
2010-01-04   68587.0   70081.0   68587.0   70045.0    70045.0   1655400
2010-01-05   70046.0   70595.0   69928.0   70240.0    70240.0   1984200
2010-01-06   70237.0   70937.0   70016.0   70729.0    70729.0   2243600
2010-01-07   70723.0   70723.0   70045.0   70451.0    70451.0   1555000
2010-01-08   70455.0   70766.0   70158.0   70263.0    70263.0   1634400
...              ...       ...       ...       ...        ...       ...
2023-01-16  110908.0  110908.0  108753.0  109213.0   109213.0  12512400
2023-01-17  109214.0  111577.0  109214.0  111439.0   111439.0  14363200
2023-01-18  111442.0  113306.0  111441.0  112452.0   112452.0  14128600
2023-01-19  112219.0  113172.0  111307.0  113006.0   113006.0  15594300
2023-01-20  112922.0  113025.0  111735.0  112301.0   112301.0  15436600

[3231 rows x 6 columns]

In [30]:
# We are only interested in the 'close' prices

df = ibov['Close'].to_frame()
df

               Close
Date
2010-01-04   70045.0
2010-01-05   70240.0
2010-01-06   70729.0
2010-01-07   70451.0
2010-01-08   70263.0
...              ...
2023-01-16  109213.0
2023-01-17  111439.0
2023-01-18  112452.0
2023-01-19  113006.0
2023-01-20  112301.0

[3231 rows x 1 columns]