## **Evaluating BR Stocks and Analyzing Different Investing Strategies**

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
html = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_companhias_citadas_no_Ibovespa#cite_note-2')
html

[   Código             Ação                                              Setor  \
 0   ABEV3        AMBEV S/A  Consumo não Cíclico / Bebidas / Cervejas e Ref...
 1   AZUL4             AZUL   Bens Industriais / Transporte / Transporte Aéreo
 2   B3SA3               B3  Financeiro e Outros / Serviços Financeiros Div...
 3   BBAS3  BANCO DO BRASIL  Financeiro e Outros / Intermediários Financeir...
 4   BBDC3         BRADESCO  Financeiro e Outros / Intermediários Financeir...
 ..    ...              ...                                                ...
 71  VALE3             VALE  Materiais Básicos / Mineração / Minerais Metál...
 72  VIVT4     TELEF BRASIL                                   Telecomunicações
 73  VVAR3        VIAVAREJO                         Consumo Cíclico / Comércio
 74  WEGE3              WEG         Bens Industriais / Máquinas e Equipamentos
 75  YDUQ3       YDUQS PART            Consumo Cíclico / Serviços Educacionais

          Tipo                           Site
 0          ON         http://ri.ambev.com.br
 1       PN N2    https://www.voeazul.com.br/
 2       ON NM          http://www.b3.com.br/
 3   ON ERJ NM          http://www.bb.com.br/
 4       ON N1    http://www.bradesco.com.br/
 ..        ...                            ...
 71      ON NM           http://www.vale.com/
 72         PN  http://www.telefonica.com.br/
 73      ON NM  https://www.viavarejo.com.br/
 74      ON NM           https://www.weg.net/
 75      ON NM      https://www.yduqs.com.br/

 [76 rows x 5 columns],
     0                                                  1
 0 NaN  Este artigo sobre economia é um esboço. Você p...,
                     vde Empresas no Ibovespa  \
 0                                   Finanças
 1                             Petróleo e Gás
 2                       Energia e Saneamento
 3     Aviação, Locação, Transporte e Turismo
 4             Produção, Alimento e Logística
 5  Administração, Comércio, Varejo e Serviço
 6         Construção, Indústria e Siderurgia
 7     Concessão, Saúde e Bem-Estar e Seguros
 8             Telefonia, Tecnologia e Outros
 9                                   Holdings

                           vde Empresas no Ibovespa.1
 0  B3 · Banco do Brasil (BB Seguridade) · Bradesc...
 1  3R Petroleum · Braskem · Petrobras · Petrobras...
 2  CEMIG · Cosan · Companhia Paranaense de Energi...
 3  Azul · CVC CORP · Embraer · Gol · Simpar (JSL ...
 4  Ambev · BRF · JBS · Marfrig · Minerva Foods · ...
 5  Aliansce Sonae · Alpargatas · Americanas · Ass...
 6  CSN · Cyrela · Even · Gerdau (Metalúrgica Gerd...
 7  CCR · EcoRodovias · Fleury · Hapvida · IRB Bra...
 8  Cogna Educação · Klabin · LocaWeb · Positivo ·...
 9                        EDP Brasil · Itaúsa · YDUQS  ]

In [3]:
# Looking for the table with the data

html[0]

,Código,Ação,Setor,Tipo,Site
0,ABEV3,AMBEV S/A,Consumo não Cíclico / Bebidas / Cervejas e Ref...,ON,http://ri.ambev.com.br
1,AZUL4,AZUL,Bens Industriais / Transporte / Transporte Aéreo,PN N2,https://www.voeazul.com.br/
2,B3SA3,B3,Financeiro e Outros / Serviços Financeiros Div...,ON NM,http://www.b3.com.br/
3,BBAS3,BANCO DO BRASIL,Financeiro e Outros / Intermediários Financeir...,ON ERJ NM,http://www.bb.com.br/
4,BBDC3,BRADESCO,Financeiro e Outros / Intermediários Financeir...,ON N1,http://www.bradesco.com.br/
...,...,...,...,...,...
71,VALE3,VALE,Materiais Básicos / Mineração / Minerais Metál...,ON NM,http://www.vale.com/
72,VIVT4,TELEF BRASIL,Telecomunicações,PN,http://www.telefonica.com.br/
73,VVAR3,VIAVAREJO,Consumo Cíclico / Comércio,ON NM,https://www.viavarejo.com.br/
74,WEGE3,WEG,Bens Industriais / Máquinas e Equipamentos,ON NM,https://www.weg.net/
75,YDUQ3,YDUQS PART,Consumo Cíclico / Serviços Educacionais,ON NM,https://www.yduqs.com.br/

In [4]:
components = html[0].iloc[:,0:3].copy()
components

   Código             Ação                                              Setor
0   ABEV3        AMBEV S/A  Consumo não Cíclico / Bebidas / Cervejas e Ref...
1   AZUL4             AZUL   Bens Industriais / Transporte / Transporte Aéreo
2   B3SA3               B3  Financeiro e Outros / Serviços Financeiros Div...
3   BBAS3  BANCO DO BRASIL  Financeiro e Outros / Intermediários Financeir...
4   BBDC3         BRADESCO  Financeiro e Outros / Intermediários Financeir...
..    ...              ...                                                ...
71  VALE3             VALE  Materiais Básicos / Mineração / Minerais Metál...
72  VIVT4     TELEF BRASIL                                   Telecomunicações
73  VVAR3        VIAVAREJO                         Consumo Cíclico / Comércio
74  WEGE3              WEG         Bens Industriais / Máquinas e Equipamentos
75  YDUQ3       YDUQS PART            Consumo Cíclico / Serviços Educacionais

[76 rows x 3 columns]

In [5]:
components.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Código  76 non-null     object
 1   Ação    76 non-null     object
 2   Setor   76 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

In [6]:
components.to_csv('Components.csv', index=False)

## **Loading BR Stocks**

In [7]:
yf.download('^BVSP')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1993-04-27,24.799999,25.400000,24.500000,24.500000,24.500000,0
1993-04-28,24.500000,24.600000,23.700001,24.299999,24.299999,0
1993-04-29,24.299999,24.799999,23.700001,23.700001,23.700001,0
1993-04-30,23.700001,24.200001,23.700001,24.100000,24.100000,0
1993-05-03,24.100000,24.400000,23.799999,24.100000,24.100000,0
...,...,...,...,...,...,...
2023-01-17,109214.000000,111577.000000,109214.000000,111439.000000,111439.000000,14363200
2023-01-18,111442.000000,113306.000000,111441.000000,112452.000000,112452.000000,14128600
2023-01-19,112219.000000,113172.000000,111307.000000,113006.000000,113006.000000,15594300
2023-01-20,112922.000000,113025.000000,111735.000000,112301.000000,112301.000000,15436600
2023-01-23,112041.000000,113061.000000,111542.000000,111709.000000,111709.000000,13701000

In [8]:
# IBOVESPA index

data = yf.download('^BVSP', start='2010-01-01', end='2023-01-23')
data

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close    Volume
Date
2010-01-04   68587.0   70081.0   68587.0   70045.0    70045.0   1655400
2010-01-05   70046.0   70595.0   69928.0   70240.0    70240.0   1984200
2010-01-06   70237.0   70937.0   70016.0   70729.0    70729.0   2243600
2010-01-07   70723.0   70723.0   70045.0   70451.0    70451.0   1555000
2010-01-08   70455.0   70766.0   70158.0   70263.0    70263.0   1634400
...              ...       ...       ...       ...        ...       ...
2023-01-16  110908.0  110908.0  108753.0  109213.0   109213.0  12512400
2023-01-17  109214.0  111577.0  109214.0  111439.0   111439.0  14363200
2023-01-18  111442.0  113306.0  111441.0  112452.0   112452.0  14128600
2023-01-19  112219.0  113172.0  111307.0  113006.0   113006.0  15594300
2023-01-20  112922.0  113025.0  111735.0  112301.0   112301.0  15436600

[3231 rows x 6 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3231 entries, 2010-01-04 to 2023-01-20
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3231 non-null   float64
 1   High       3231 non-null   float64
 2   Low        3231 non-null   float64
 3   Close      3231 non-null   float64
 4   Adj Close  3231 non-null   float64
 5   Volume     3231 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 176.7 KB

In [10]:
data.to_csv('BVSP.csv')